<main>
    <div class="container-fluid size-vh" id="abount">
        <div class="row container-row">
        <div class="col-sm-12">
            <div class="row">
            <h2 class="text title col-sm-12">Sobre mí</h2>
            <div class="editar">
                <i class="bi bi-pencil-square button-edit"></i>
                <i class="bi bi-trash button-edit"></i>
            </div>
            <p class="parrafo-presentacion col-sm-12">¡Hola! Soy Nicolás, un apasionado por la tecnología. Apunto de crecer profesionalmente como Desarrollador Web Fullstack.
                Busco estar en constante formación y llevar lo aprendido a la práctica, soy responsable, creativo, dedicado y autodidacta. Me encantaría formar parte de proyectos que me permitan crecer a nivel profesional y mejorar mis habilidades, así como también colaborar con un equipo de trabajo para cumplir objetivos.</p>
        </div>
    </div>
        <div class="education col-sm-12">
            <div class="row">
            <h2 class="text title col-sm-12">Educación</h2>
            <div class="editar">
                <i class="bi bi-pencil-square button-edit"></i>
                <i class="bi bi-trash button-edit"></i>
            </div>
            <div class="education-utn col-sm-6">
                <p class="text parrafo-presentacion">Desarrollo Web FullStack<br> 2021 - 2022<br> Argentina Programa<br><br>
                Curso con una duración total de 9 meses, donde aprendí diversas tecnologías como ser: Angular, Bootstrap, Spring Boot y MySQL.</p>
                <div class="img-abount">
                    <img class="img-abount-insade" src="/assets/APLogo-20-20.png" alt="Argentina Programa">
                </div>
            </div>
            <div class="education-arg col-sm-6">
                <p class="text parrafo-presentacion">Técnico Universitario en Programación<br> 2022 - Actualidad<br> Universidad Tecnológica Nacional - Avellaneda <br><br>Interpretar y llevar a cabo la solución definida por el Analista. Elaborar y/o corregir los programas mediante un lenguaje de desarrollo requerido por el mercado laboral.</p>
                <div class="img-abount">
                    <img class="img-abount-insade" src="/assets/utn.png" alt="utn">
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </main>