<main>
    <div class="container-fluid" id="contact">
        <div class="row container-row">
            <h2 class="text title col-sm-12">¡Escríbeme y hablamos!</h2>
            <div class="editar">
                <i class="bi bi-pencil-square button-edit"></i>
                <i class="bi bi-trash button-edit"></i>
            </div>
            <p class="text parrafo-contact col-sm-12">Si tienes alguna propuesta o te gustaría que estemos en contacto, puedes contactarme por medio de las siguientes redes:</p>
        <div class="contact-container-insede col-sm-12 col-md-6">
            <h2 class="title-contact">Gmail</h2>
        <span class="lenguajes">
            <a class="bi bi-envelope fs-5 contact-icons" href="https://www.linkedin.com/in/nicolas-vlaeminch-273033253/" target="_blank" title="Gmail"></a>
        </span>
        </div>
        <div class="contact-container-insede col-sm-12 col-md-6">
            <h2 class="title-contact">LinkedIn</h2>
        <span class="lenguajes">
            <a class="bi bi-linkedin fs-5 contact-icons" href="https://www.linkedin.com/in/nicolas-vlaeminch-273033253/" target="_blank" title="LinkedIn"></a>
        </span>
        </div>
        </div>
    </div>
    </main>