<main>
    <div class="container-fluid" id="skills">
        <div class="row container-row">
            <h2 class="text title col-sm-12">Habilidades</h2>
            <div class="editar">
                <i class="bi bi-pencil-square button-edit"></i>
                <i class="bi bi-trash button-edit"></i>
            </div>
            <p class="text parrafo-skills col-sm-12">Estas son algunas de mis habilidades, tanto técnicas como blandas, con las que cuento para el ámbito profesional.</p>
        <div class="skills-container-insede col-sm-12 col-md-4">
            <h2 class="title-skills">Front-End</h2>
        <span class="lenguajes">
            <i class="fa-brands fa-angular icon-skills"></i>Angular | Intermedio
        </span>
        <span class="lenguajes">
            <i class="fa-brands fa-square-js icon-skills"></i>JavaScript | Intermedio
        </span>
        <span class="lenguajes">
            <i class="fa-brands fa-bootstrap icon-skills"></i>Bootstrap | Intermedio
        </span>
        <span class="lenguajes">
            <i class="fa-brands fa-css3-alt icon-skills"></i>CSS | Intermedio
        </span>
        <span class="lenguajes">
            <i class="fa-brands fa-html5 icon-skills"></i>HTML | Avanzado
        </span>
        </div>
        <div class="skills-container-insede col-sm-12 col-md-4">
            <h2 class="title-skills">Back-End</h2>
        <span class="lenguajes">
            <i class="fa-brands fa-java icon-skills"></i>Java | Intermedio
        </span>
        <span class="lenguajes">
            <i class="fa-solid fa-database icon-skills"></i>MySQL | Intermedio
        </span>
        </div>
        <div class="skills-container-insede col-sm-12 col-md-4">
            <h2 class="title-skills">Soft-Skills</h2>
        <span class="lenguajes">
            <i class="fa-comment-dots fa-solid icon-skills"></i>Comunicativo
        </span>
        <span class="lenguajes">
            <i class="fa-people-carry-box fa-solid icon-skills"></i>Colaborativo
        </span>
        <span class="lenguajes">
            <i class="fa-hand-holding-heart fa-solid icon-skills"></i>Empático
        </span>
        <span class="lenguajes">
            <i class="fa-laptop-code fa-solid icon-skills"></i>Autodidácta
        </span>
        </div>
        </div>
    </div>
    </main>