<main>
    <div class="container-fluid" id="skills">
        <div class="row container-row">
            <h2 class="text title col-sm-12">Habilidades</h2>
            <div class="editar">
                <i class="bi bi-pencil-square button-edit"></i>
                <i class="bi bi-trash button-edit"></i>
            </div>
            <p class="text parrafo-skills col-sm-12">Estas son algunas de mis habilidades, tanto técnicas como blandas, con las que cuento para el ámbito profesional.</p>
        <div class="skills-container-insede col-sm-12 col-md-3">
            <h2 class="title-skills">Data Analytics</h2>
        <span class="lenguajes">
            <i></i>Python
        </span>
        <span class="lenguajes">
            <i></i>NumPy
        </span>
        <span class="lenguajes">
            <i></i>Pandas
        </span>
        <span class="lenguajes">
            <i></i>Matplotlib
        </span>
        </div>
        <div class="skills-container-insede col-sm-12 col-md-3">
            <h2 class="title-skills">Front-End</h2>
        <span class="lenguajes">
            <i></i>Angular
        </span>
        <span class="lenguajes">
            <i></i>TypeScript
        </span>
        <span class="lenguajes">
            <i></i>Bootstrap
        </span>
        <span class="lenguajes">
            <i></i>CSS
        </span>
        <span class="lenguajes">
            <i></i>HTML
        </span>
        </div>
        <div class="skills-container-insede col-sm-12 col-md-3">
            <h2 class="title-skills">Back-End</h2>
        <span class="lenguajes">
            <i></i>Java
        </span>
        <span class="lenguajes">
            <i></i>Spring Boot
        </span>
        <span class="lenguajes">
            <i></i>MySQL
        </span>
        </div>
        <div class="skills-container-insede col-sm-12 col-md-3">
            <h2 class="title-skills">Soft-Skills</h2>
        <span class="lenguajes">
            <i></i>Comunicativo
        </span>
        <span class="lenguajes">
            <i></i>Colaborativo
        </span>
        <span class="lenguajes">
            <i></i>Empático
        </span>
        <span class="lenguajes">
            <i></i>Autodidácta
        </span>
        </div>
        </div>
    </div>
    </main>