<aside class="sidebar">
    <div class="icon-link">
        <a class="bi bi-linkedin fs-5" href="https://www.linkedin.com/in/nicolas-vlaeminch-273033253/" target="_blank" title="Linkedin"></a>
        <a class="bi bi-github fs-5" href="https://github.com/nicolasvlaeminch" target="_blank" title="Github"></a>
        <a class="bi bi-share fs-5" href="https://nicolasvlaeminch.com.ar/" target="_blank" title="Copiar Enlace"></a>
        </div>
<nav>
    <ul>
        <li>
            <a class="bi bi-house-door list-name" href="#"> Inicio</a>
        </li>
        <li>
            <a class="bi bi-person list-name" href="#abount"> Sobre Mí</a>
        </li>
        <li>
            <a class="bi bi-diagram-3 list-name" href="#skills"> Habilidades</a>
        </li>
        <!-- <li>
            <a class="bi bi-code" href="#project"> Proyectos</a>
        </li> -->
        <li>
            <a class="bi bi-envelope list-name" href="#contact"> Contacto</a>
        </li>
        <!-- <li>
            <a class="bi bi-box-arrow-in-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Ingresar</a>
        </li> -->
    </ul>
</nav>
<div class="argprograma-container">
    <img class="argprograma-inside" src="../../../assets/APLogo-20-20.png" title="Argentina Programa">
</div>
</aside>