body {
    background-color: #040b14;
    padding: 0px !important;
    p {
        font-size: 1.4em;
        color: #f2f2f2;
    }
}

@media (max-width: 1400px) {
    p {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 1.7vh;
    }
}

